# Основной веб-фреймворк
Flask~=3.1.1

# WSGI сервер для запуска в проде
gunicorn~=23.0.0

# Работа с формами и CSRF-защитой
flask-wtf

# Аутентификация пользователей (если понадобится)
flask-login

# Работа с базой данных (если используешь)
flask-sqlalchemy

# Миграции базы данных (если используешь Alembic)
flask-migrate

# Поддержка .env и конфигурации
python-dotenv

# Для генерации случайных ссылок и безопасности
itsdangerous

# Для валидации данных (если используешь)
email-validator

# Логгирование и отладка
colorlog
